fastapi==0.68.1
uvicorn==0.15.0
python-multipart==0.0.5
requests==2.26.0
beautifulsoup4==4.9.3
numpy>=1.19.2
pandas>=1.2.0
scikit-learn>=0.24.0
scipy>=1.6.0
python-dateutil>=2.8.2
aiofiles==0.7.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
cosinorage==1.0.0